{% extends "image_bank/main.html" %}
{% load static %}
{% load cool_paginate %}
{% load watermark %}
{% load random_class %}
{% block extra_head %}
<style>
  /* Basic styles for layout */
  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
  }

  /* Remove list-style from ul */

  /* Or, remove list-style from li */
  ul li {
      list-style: none;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
  }
  .filter-card {
      flex: 1;
      max-width: 300px;
      padding: 20px;
      background-color: #f0f0f0;
      margin-left:170px;
  }
  .image-section {
      flex: 3;
      padding: 20px;
      background-color: #ffffff;
  }

  .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px; /* Adjust the gap as needed */
  }

  .tags .badge {
      /* Add styling for the tags here */
      padding: 6px 12px;
      font-size: 14px;
      /* Add more styles as needed */
  }

  .tags span {
    cursor: pointer;
  }

  aside {
    background-image: url("{% static 'image_bank/assets/img/dusty-blue.jpg' %}")
  }


  /* Responsive layout */
  @media screen and (max-width: 768px) {
      .container {
          flex-direction: column;
      }
      .filter-card, .image-section {
          flex: 1;
          max-width: none;
      }
  }
</style>
{% endblock %}

{% block content %}
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="#">
      <img src="{% static 'image_bank/assets/img/logo.png' %}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold">SEN NATAAL</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Menu</h6>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <span class="nav-link-text ms-1">Images</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" hx-get="{% url 'profil' %}" hx-trigger="click" hx-push-url="true" hx-target="#content">
          <span class="nav-link-text ms-1">Profil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="nav-link-text ms-1">Paiements</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sign-out' %}">
          <span class="nav-link-text ms-1">Déconnexion</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
  <div class="container-fluid">
    <section class="pt-5 mt-5">
    <form hx-post="{% url 'recherche-images' %}" hx-trigger="submit" hx-target="#images">
      {% csrf_token %}
      <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3 mx-sm-0 mx-1 position-relative">
        <div class="col-lg-3 mt-lg-n2 mt-2">
          <label class="">Resolution</label>
          <select class="form-control" name="resolution" id="choices-button">
            <option value="" disabled selected="">Choisir</option>
            <option value="low">Faible</option>
            <option value="medium">Moyenne</option>
            <option value="high">Haute</option>
          </select>
        </div>
        <div class="col-lg-3 mt-lg-n2 mt-2">
          <label class="">Format</label>
          <select class="form-control" name="format" id="choices-remove-button">
            <option value="" disabled selected="">Choisir</option>
            {% for format in formats %}
              <option value="{{ format }}">{{ format }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-3 mt-lg-n2 mt-2">
          <label class="">Paiement</label>
          <select class="form-control" name="paiement" id="choices-remove-button">
            <option value="" disabled selected="">Choisir</option>
            <option value="0">Gratuit</option>
            <option value="1">Payant</option>
          </select>
        </div>
        <div class="col-lg-3 mt-lg-n2 mt-2">
          <label class="">&nbsp;</label>
          <button type="submit" class="btn bg-gradient-dark w-100 mb-0">Rechercher</button>
        </div>
      </div>
    </form>
  </div>
</div>
</section>
<section>
<div class="container mt-5 pt-5" style="display: flex; flex-wrap: wrap;">
  <!-- Filter Card (on the left) -->
  <div class="filter-card card shadow-lg">
      <ul class="tags">
        {% for tag in tags %}
          <li style="list-style: none" hx-get="{% url 'recherche-images' tag.id %}" hx-trigger="click" hx-target="#images"><span class="{% random_class %}" style="padding: 6px 12px;font-size: 14px;">{{ tag.name }}</span></li>
        {% endfor %}
      </ul>
  </div>

  <!-- Image Section (on the right) -->
  <div id="images" class="image-section" style="flex: 3;padding: 20px;">
      <!-- Display searched images here -->
      <!-- Use CSS grid or other layout techniques to display images -->
      <!-- Example: -->
      <div class="row">
      {% for image in images %}
      <div class="col-lg-3 col-sm-6">
        <div class="card card-plain card-blog mt-4">
          <div class="card-image border-radius-lg position-relative">
            <a href="javascript:;" hx-get="{% url 'detail-image' image.id %}" hx-trigger="click" hx-target="#content" hx-push-url="true">
              <div class="blur-shadow-image">
                <img class="img border-radius-lg move-on-hover" {% if image.payment_required %} src="{{ image.image.url | watermark:"django_test,opacity=10,tile=1,rotation=45" }}" {% else %} src="{{ image.image.url }}" {% endif %} alt="{{ image.description }}">
              </div>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      {% if images %}
      <div class="row mt-4 ml-2">
        <div class="pagination">
          {% cool_paginate page_obj=images %}
        </div>
      </div>
      {% endif %}
  </div>
</div>
</section>
{% endblock %}

{% block extra_js %}
<script>
  document.querySelectorAll('.nav-link').forEach(link => {
  link.addEventListener('click', (e) => {
    // Remove 'active' class from all links
    document.querySelectorAll('.nav-link').forEach(otherLink => {
      otherLink.classList.remove('active');
    });

    // Add 'active' class to the clicked link
    e.target.classList.add('active');
  });
});

</script>
{% endblock %}