{% load watermark %}
{% load cool_paginate %}

<div id="images" class="image-section">
    <!-- Display searched images here -->
    <!-- Use CSS grid or other layout techniques to display images -->
    <!-- Example: -->
    <div class="row">
    {% if images %}
        {% for image in images %}
        <div class="col-lg-3 col-sm-6">
        <div class="card card-plain card-blog mt-4">
            <div class="card-image border-radius-lg position-relative">
            <a href="javascript:;" hx-get="{% url 'detail-image' image.id %}" hx-trigger="click" hx-target="#content" hx-push-url="true" hx-swap="outerHTML">
                <div class="blur-shadow-image">
                <img class="img border-radius-lg move-on-hover" {% if image.payment_required %} src="{{ image.image.url | watermark:"django_test,opacity=10,tile=1,rotation=45" }}" {% else %} src="{{ image.image.url }}" {% endif %} alt="{{ image.description }}">
                </div>
            </a>
            </div>
        </div>
        </div>
        {% endfor %}
    {% else %}
        Pas de résultats
    {% endif %}
    </div>
    <div class="row mt-4 ml-2">
        <div class="pagination">
            {% cool_paginate page_obj=images %}
        </div>
    </div>
    <!-- Add more images as needed -->
</div>