.modal-header {
    background-color: #dc4c64;
}

.custom-image {
    height: 310px; /* Set the desired height */
    width: 416px; /* Set the desired width */
    object-fit: cover; /* Maintain aspect ratio and cover container */
  }

#sidebar {
    background-color: lightgray;
    flex: 0 0 25%; /* Sets the column width to 25% of the parent container */
    max-width: 25%; /* Sets the maximum width to 25% to prevent columns from growing */
    padding-right: 15px; /* Optional: Add padding to the right side of the column */
    padding-left: 15px; /* Optional: Add padding to the left side of the column */
    box-sizing: border-box; /* Ensures that padding and border are included in the width */
    margin-top: 3rem;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
}