{% extends "image_bank/profil.html" %}
{% load static %}

{% block panes %}
<div class="card card-plain">
    <form role="form" id="reset-form" method="post" hx-post="{% url 'check-password' %}" hx-target="#password-field" hx-trigger="submit"  autocomplete="off">
      {% csrf_token %}
        <div class="card-body pb-2">
        <div class="row justify-content-center">
          <div class="col-md-6" >
            <label class="form-label">Entrez votre mot de passe actuel</label>
            <div class="input-group mb-4">
              <input id="password-input" class="form-control" name="password" placeholder="Mot de passe" type="password"  >
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6" id="password-field">
                
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn bg-gradient-info mt-3 mb-0">Valider</button>
          </div>
      </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">

    function showToast(message, type) {
        Toastify({
            text: message,
            duration: 3000, // Set the duration for how long the toast message should appear (in milliseconds)
            gravity: 'top', // Set the position where the toast should appear
            position: 'center', // Set the position where the toast should appear
            close: true, // Allow users to close the toast manually
            backgroundColor: type === 'error' ? 'red' : 'green', // Customize the background color based on the message type
        }).showToast();
    }
    
    document.querySelector('.btn').addEventListener('click', function(){
        if(document.querySelector('#reset-form').getAttribute("hx-post") !== "/password/reset/"){
            document.querySelector('#reset-form').setAttribute("hx-post", "{% url 'reset-password' %}");
        } else {
            let formData = new FormData();
            formData.append('new_password', document.querySelector('#new-input').value);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            
            fetch('/password/reset/', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
            .then(data => {
                showToast(data.message, data.type);
            })
        }
        
    })
  </script>
{% endblock %}