{% load static %}

<!--
=========================================================
* Soft UI Design System PRO - v1.1.1
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-design-system-pro 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    Soft UI Design System PRO by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="{% static 'image_bank/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'image_bank/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{% static 'image_bank/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static 'image_bank/assets/css/soft-design-system-pro.css' %}" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.1/photoswipe.min.css" integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    img {
      max-width: 100%;
      max-height: 100%;
    }

    /* Center images vertically and horizontally */
    .img-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; /* Ensure images are centered vertically */
    }
  </style>
</head>

<body class="career">

  <!-- -------- START HEADER 10 w/ floating img and bg  ------- -->
  <header class="position-relative">
    <div class="page-header min-vh-75 position-relative" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/nightsky.jpg');">
      <span class="mask bg-gradient-dark"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center mx-auto mt-md-n7">
            <h4 class="text-gradient text-primary fadeIn1 fadeInBottom">Rejoignez-nous</h4>
            <h1 class="text-white fadeIn2 fadeInBottom">Voyagez dans l'univers des images</h1>
            <p class="lead mb-5 fadeIn3 fadeInBottom text-white opacity-6">Dès aujourd'hui, trouvez l'image qu'il vous faut</p>
            <p><span class="text-white">Je suis</span></p>
            <div class="row">
                <div class="col-6">
                    <div class="btn-group dropstart">
                        <button type="button" class="btn bg-white btn-rounded me-2 fadeIn1 fadeInBottom dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" >Utilisateur</button>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item border-radius-md" href="{% url 'sign-up-user' %}">Inscription</a></li>
                          <li><a class="dropdown-item border-radius-md" href="{% url 'sign-in-user' %}">Connexion</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="btn-group dropend">
                        <button type="button" class="btn bg-white btn-rounded me-2 fadeIn1 fadeInBottom dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" >Contributeur</button>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton2">
                          <li><a class="dropdown-item border-radius-md" href="{% url 'sign-up-contributeur' %}">Inscription</a></li>
                          <li><a class="dropdown-item border-radius-md" href="{% url 'sign-in-contributeur' %}">Connexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
      <img src="../assets/img/illustrations/man-rocket.png" class="rellax position-absolute floating-man ms-7 fadeIn1 fadeInBottom mt-n10 d-none d-sm-none d-md-none d-lg-block" data-rellax-speed="-4" alt="">
      <img src="../assets/img/illustrations/man-cloud.png" class="rellax position-absolute floating-man end-0 fadeIn3 fadeInBottom me-8 mt-10 d-none d-sm-none d-md-none d-lg-block z-index-2" data-rellax-speed="7" alt="">
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
          </g>
        </svg>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 10 w/ floating img and bg  ------- -->
  <!-- -------- START Features w/ 4 infos - just colored icons -------- -->
  <section class="pt-7 pb-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div class="icon icon-shape text-center">
              <svg class="text-primary" width="25px" height="25px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>box-3d-50</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-2319.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g id="box-3d-50" transform="translate(603.000000, 0.000000)">
                        <path class="color-foreground" d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"></path>
                        <path class="color-background" d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z" opacity="0.7"></path>
                        <path class="color-background" d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z" opacity="0.7"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <h5 class="mt-2">Plateforme conviviale et simple</h5>
            <p>Utiliser la plateforme sera un jeu d'enfant pour vous.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div class="icon icon-shape text-center">
              <svg class="text-primary" width="25px" height="25px" viewBox="0 0 46 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>customer-support</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(1.000000, 0.000000)">
                        <path class="color-background" d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z" opacity="0.59858631"></path>
                        <path class="color-foreground" d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                        <path class="color-foreground" d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <h5 class="mt-2">Images de qualité</h5>
            <p>Nous nous assurons d'un process minutieux de tri d'images.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div class="icon icon-shape text-center">
              <svg class="text-primary" width="25px" height="25px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>spaceship</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1720.000000, -592.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(4.000000, 301.000000)">
                        <path class="color-foreground" d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z"></path>
                        <path class="color-foreground" d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z"></path>
                        <path class="color-background" d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z" opacity="0.598539807"></path>
                        <path class="color-background" d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z" id="color-3" opacity="0.598539807"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <h5 class="mt-2">Grande communauté de contributeurs</h5>
            <p>Des personnes très engagées derrière la gestion des images.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info">
            <div class="icon icon-shape text-center">
              <svg class="text-primary" width="43px" height="20px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>credit-card</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g id="credit-card" transform="translate(453.000000, 454.000000)">
                        <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743">
                        </path>
                        <path class="color-foreground" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <h5 class="mt-2">Paiements centralisés</h5>
            <p>Pour les images payantes, achetez avec le service qui vous convient.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------   START CONTENT 1 - title & description and 6 IMAGES   -------- -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center mb-5">
        <h2>Aperçu de quelques images </h2>
        <p>
          <span class="badge rounded-pill badge-primary mb-2">Co-working</span>
        </p>
      </div>
    </div>
    <div class="row min-vh-25" id="gallery">
      <!-- les images ici => {{ images }} --> 
      {% for image in images %}
        <div class="col-sm-4 col-5 mb-sm-0 mb-3">
          <a href="{{ image.image }}" 
            data-pswp-width="{{ image.width }}" 
            data-pswp-height="{{ image.height }}" 
            target="_blank">
            <img src="{{ image.image }}" alt="{{ image.description }}" class="img-fluid" />
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- -------   END CONTENT 1 - title & description and 6 IMAGES   -------- -->
  <!-- START Testimonials w/ bg image & faded gradient & company logo -->
  <section class="pt-4 pb-7 position-relative">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 mx-auto">
          <div id="carouselExampleTestimonials-11" class="carousel carousel-fade slide shadow-lg" data-bs-ride="carousel">
            <ol class="carousel-indicators z-index-2">
              <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="1"></li>
            </ol>
            <div class="carousel-inner rounded-3">
              <div class="carousel-item bg-cover max-height-400 active" style="background-image: url('../assets/img/office-1.jpeg')">
                <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                  <div class="row h-100">
                    <div class="col-xl-6 my-auto px-6">
                      <h5 class="text-white font-weight-normal mb-3">
                        "Decisions: If you can’t decide, the answer is no. If two equally difficult paths,
                        choose the one more painful in the short term(pain avoidance is creating an illusion of equality)."
                      </h5>
                      <p class="text-white font-weight-bold">Michael Lerson, <span class="text-xs font-weight-normal">Project Manager </span></p>
                    </div>
                    <div class="col-xl-6 my-auto px-7 mt-md-auto mt-4">
                      <img src="{% static 'image_bank/assets/img/logos/white-logos/logo-google-white.svg' %}" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <span class="mask bg-gradient-faded-warning opacity-10 z-index-0 rounded-3"></span>
              </div>
              <div class="carousel-item bg-cover max-height-400" style="background-image: url('../assets/img/office-2.jpeg')">
                <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                  <div class="row h-100">
                    <div class="col-xl-6 my-auto px-6">
                      <h5 class="text-white font-weight-normal mb-3">
                        " Knowledge is either from direct experience or from verifiable, falsifiable science.
                        There is knowledge that is transmitted but not verifiable / falsifiable. They're slowed down by their perception of themselves. "
                      </h5>
                      <p class="text-white font-weight-bold">Louis Miriam, <span class="text-xs font-weight-normal">COO</span></p>
                    </div>
                    <div class="col-xl-6 my-auto px-7 mt-md-auto mt-4">
                      <img src="{% static 'image_bank/assets/img/logos/white-logos/logo-spotify-white.svg' %}" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <span class="mask bg-gradient-faded-success opacity-10 z-index-0 rounded-3"></span>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-lg-2 col-4 ms-auto">
              <a href="javascript:;" data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="0" class="active">
                <img src="{% static 'image_bank/assets/img/logos/medium-logos/logo-google.svg' %}" class="d-block w-100" alt="...">
              </a>
            </div>
            <div class="col-lg-2 col-4 me-auto">
              <a href="javascript:;" data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="1">
                <img src="{% static 'image_bank/assets/img/logos/medium-logos/logo-spotify.svg' %}" class="d-block w-100" alt="...">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------- END PRE-FOOTER 7 w/ TEXT AND 2 BUTTONS ------- -->
  <section class="pb-6">
    <div class="container">
      <div class="row text-start">
        <div class="col-lg-6">
          <h3 class="mt-4">
            <span class="text-gradient text-primary">Nos derniers blogs</span>
          </h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4 mb-lg-0 mb-4">
          <!-- Start Card Blog Fullbackground - text centered -->
          <a href="javascript:;">
            <div class="card card-background move-on-hover">
              <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/sunset-waves.jpg')"></div>
              <div class="card-body pt-12">
                <h4 class="text-white">Search and Discovery</h4>
                <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
              </div>
            </div>
          </a>
          <!-- End Card Blog Fullbackground - text centered -->
        </div>
        <div class="col-lg-4 mb-lg-0 mb-4">
          <!-- Start Card Blog Fullbackground - text centered -->
          <a href="javascript:;">
            <div class="card card-background move-on-hover">
              <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/bridge.jpg')"></div>
              <div class="card-body pt-12">
                <h4 class="text-white">Last visits in US</h4>
                <p>Wealth creation is an evolutionarily recent positive-sum game. Status is an old zero-sum game. Those attacking wealth creation are often just seeking status.</p>
              </div>
            </div>
          </a>
          <!-- End Card Blog Fullbackground - text centered -->
        </div>
        <div class="col-lg-4">
          <!-- Start Card Blog Fullbackground - text centered -->
          <a href="javascript:;">
            <div class="card card-background move-on-hover">
              <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-flats.jpg')"></div>
              <div class="card-body pt-12">
                <h4 class="text-white">Grow in a beautiful area</h4>
                <p>Free people make free choices. Free choices mean you get unequal outcomes. You can have freedom, or you can have equal outcomes. You can’t have both.</p>
              </div>
            </div>
          </a>
          <!-- End Card Blog Fullbackground - text centered -->
        </div>
      </div>
    </div>
  </section>
  <!-- ---- START FOOTER 2 dark w/ bg image 5 cols & subscribe area & social---- -->
  <footer class="footer py-7 position-relative bg-gradient-dark overflow-hidden">
    <div class="position-absolute w-100 z-inde-1 top-0 mt-n3">
      <svg width="100%" viewBox="0 -2 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>wave-down</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" fill="#FFFFFF" fill-rule="nonzero">
            <g id="wave-down">
              <path d="M0,60.8320331 C299.333333,115.127115 618.333333,111.165365 959,47.8320321 C1299.66667,-15.5013009 1620.66667,-15.2062179 1920,47.8320331 L1920,156.389409 L0,156.389409 L0,60.8320331 Z" id="Path-Copy-2" transform="translate(960.000000, 78.416017) rotate(180.000000) translate(-960.000000, -78.416017) "></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="container position-relative mt-lg-8">
      <div class="row ">
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-white text-sm">Company</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Marketing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Analytics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Commerce
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Insights
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-white text-sm">Support</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Pricing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Docs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Guides
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                API Suport
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-white text-sm">Pages</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com/presentation" target="_blank">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com/blog" target="_blank">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Jobs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Press
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                Affiliates
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-white text-sm">Legal</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Claim
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Privacy
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8" href="https://www.creative-tim.com" target="_blank">
                Terms
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-8 ms-md-auto">
          <h6 class="text-white text-md-end text-sm mb-0">Language & Currency</h6>
          <ul class="nav flex-column">
            <li class="nav-item mt-3">
              <select class="form-control" name="language-button" id="language-button">
                <option value="Choice 1" selected>English</option>
                <option value="Choice 2">Chinese</option>
                <option value="Choice 3">French</option>
                <option value="Choice 4">Romanian</option>
              </select>
            </li>
            <li class="nav-item mt-3">
              <select class="form-control" name="currency-button" id="currency-button">
                <option value="Choice 1" selected>USD</option>
                <option value="Choice 2">EUR</option>
                <option value="Choice 3">JPY</option>
                <option value="Choice 4">GBP</option>
                <option value="Choice 5">CAD</option>
                <option value="Choice 6">RON</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <hr class="horizontal light mb-4 mt-md-4 mt-md-0">
      <div class="row">
        <div class="col-lg-6 text-start">
          <h6 class="text-white">Subscribe to our newsletters</h6>
          <p class="text-white opacity-8 mb-lg-0">The latest news, articles and resources sent to your inbox weekely.</p>
        </div>
        <div class="col-lg-4 ms-auto text-end my-auto">
          <div class="row">
            <div class="col-md-8 col-7">
              <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="E-mail" type="email">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-5 text-start ps-0">
              <button type="button" class="btn bg-gradient-info mb-0 h-100">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <hr class="horizontal light my-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 my-auto">
          <p class="text-white mb-sm-0 opacity-8">
            Copyright © <script>
              document.write(new Date().getFullYear())
            </script> Soft by Creative Tim.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 ms-auto text-sm-right">
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-facebook text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-twitter text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-dribbble text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-white mb-0 opacity-6">
            <i class="fab fa-github text-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </footer>
  <!-- ---- END FOOTER 2 dark w/ bg image 5 cols & subscribe area & social---- -->
  <!--   Core JS Files   -->
  <script src="{% static 'image_bank/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'image_bank/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'image_bank/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
  <script src="{% static 'image_bank/assets/js/plugins/typedjs.js' %}"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
  <script src="{% static 'image_bank/assets/js/plugins/rellax.min.js' %}"></script>
  <!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
  <script src="{% static 'image_bank/assets/js/plugins/tilt.min.js' %}"></script>
  <!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
  <script src="{% static 'image_bank/assets/js/plugins/choices.min.js' %}"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="{% static 'image_bank/assets/js/plugins/parallax.min.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'image_bank/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
  <script src="{% static 'image_bank/assets/js/plugins/glidejs.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for the blob animation -->
  <script src="{% static 'image_bank/assets/js/plugins/anime.min.js' %}" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="{% static 'image_bank/assets/js/plugins/chartjs.min.js' %}"></script>
  <!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="{% static 'image_bank/assets/js/soft-design-system-pro.min.js' %}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.1/photoswipe.esm.min.js" integrity="sha512-AP4Y/4wbGu7PdY7tVG2soQcBNLx4CuzmPoKrmZoawUS52M5+Kx6JxBEz3yjJelle8ewkp4sdI5OZr+9Qspip/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.1/photoswipe-lightbox.esm.min.js" integrity="sha512-MbIdoX8mldW9oEZ9AUcS4VUqMD30kuKYYoTHFxCBUv8LHz1Jk+Qc/i7qYPvE7vBMyeiVQmzrEM5cbSXR0eLCXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.1/umd/photoswipe.umd.min.js" integrity="sha512-m2BznVd7zykdDpAPbISr1tEfxzg6dDUQstIQZOXsssO3oDy7zzHXP0VHNGRw7KK9fLoXh/n86nHatuhSotrvog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="module">
    import PhotoSwipeLightbox from '/static/image_bank/js/photoswipe-lightbox.esm.min.js';

    const lightbox = new PhotoSwipeLightbox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: PhotoSwipe
    });

    lightbox.init();
  </script>
</body>

</html>