
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- htmx -->
    <script src="{% static 'image_bank/js/unpkg_1.9.5_dist_htmx.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/morphdom-swap.js"></script>
    <script src="{% static 'image_bank/js/morphdom-umd.js'%}"></script>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'image_bank/assets/img/apple-icon.png'%}">
    <link rel="icon" type="image/png" href="{% static 'image_bank/assets/img/favicon.png'%}">
    <title>
        SEN NATAAL
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://use.fontawesome.com/4399aa5836.js"></script>
    <!-- Nucleo Icons -->
    <link href="{% static 'image_bank/assets/css/nucleo-icons.css'%}" rel="stylesheet" />
    <link href="{% static 'image_bank/assets/css/nucleo-svg.css'%}" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{% static 'image_bank/assets/css/nucleo-svg.css'%}" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'image_bank/assets/css/soft-design-system-pro.css'%}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body class="g-sidenav-show bg-gray-100" hx-ext="morphdom-swap">
<div id="content">
{% block content %}

{% endblock %}
</div>

{% block extra_js %}

{% endblock %}
<script src="{% static 'image_bank/assets/js/core/popper.min.js'%}" type="text/javascript"></script>
<script src="{% static 'image_bank/assets/js/core/bootstrap.min.js'%}" type="text/javascript"></script>
<script src="{% static 'image_bank/assets/js/plugins/perfect-scrollbar.min.js'%}"></script>
<script src="{% static 'image_bank/assets/js/plugins/smooth-scrollbar.min.js'%}"></script>
<!-- <script src="https://unpkg.com/htmx.org/dist/ext/morphdom-swap.js"></script> -->
<!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
<script src="{% static 'image_bank/assets/js/plugins/typedjs.js'%}"></script>
<!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
<script src="{% static 'image_bank/assets/js/plugins/parallax.min.js'%}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'image_bank/assets/js/plugins/nouislider.min.js'%}" type="text/javascript"></script>
<!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
<script src="{% static 'image_bank/assets/js/plugins/glidejs.min.js'%}" type="text/javascript"></script>
<!--  Plugin for the blob animation -->
<script src="{% static 'image_bank/assets/js/plugins/anime.min.js'%}" type="text/javascript"></script>
<!-- Chart JS -->
<script src="{% static 'image_bank/assets/js/plugins/chartjs.min.js'%}"></script>
<!-- Choices Plugin -->
<script src="{% static 'image_bank/assets/js/plugins/choices.min.js' %}"></script>
<!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
<!--  Google Maps Plugin  -->

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script> -->
<script src="{% static 'image_bank/assets/js/soft-design-system-pro.min.js'%}" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
<script>
    document.querySelectorAll('.nav-link').forEach(link => {
        link.addEventListener('click', (e) => {
        // Remove 'active' class from all links
        document.querySelectorAll('.nav-link').forEach(otherLink => {
            otherLink.classList.remove('active');
        });
        // Add 'active' class to the clicked link
        e.target.classList.add('active');
        });
    });


    document.addEventListener('htmx:afterRequest', function (event) {
        if (event.detail.xhr.status === 200) { // Check if the request was successful (status code 200)
            // Assuming your response JSON contains a 'message' field
            const response = JSON.parse(event.detail.xhr.responseText);
            if (response.message) {
            showToast(response.message, 'success'); // Show a success toast message
            }
        } else if (event.detail.xhr.status === 400) { // If there was an error (status code 400)
            // Assuming your response JSON contains an 'error' field
            const response = JSON.parse(event.detail.xhr.responseText);
            if (response.message) {
            showToast(response.message, 'error'); // Show an error toast message
            }
        }
    });

    const sideNavButton = document.querySelector('#iconNavbarSidenav');
      sideNavButton.addEventListener('click', () => {
      document.querySelector('body').classList.toggle('g-sidenav-pinned');
    })
</script>
</html>