{% extends "image_bank/index.html" %}
{% load static %}

{% block dynamic_content %}
  <div id="content">
    <input type="hidden" id="upload-images">
    <section class="pt-6 mt-6">
      <div class="row">
        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
          <div class="card d-flex justify-content-center p-4 shadow-lg">
            <div class="text-center">
              <h3 class="text-gradient text-primary">Charger des images</h3>
              <p class="mb-0">
                Renseignez les informations du formulaire et cliquez sur envoyer
              </p>
            </div>
            <div class="card card-plain">
              <form hx-post="{% url 'upload-contributeur' %}" hx-trigger="submit" hx-swap="none" role="form" enctype="multipart/form-data" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="card-body pb-2">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Nom</label>
                      <div class="input-group mb-4">
                        <input name="name" id="id_name" class="form-control" placeholder="Intitulé image" aria-label="Full Name" type="text" >
                      </div>
                    </div>
                    <div class="col-md-6 ps-md-2">
                      <label>Auteur</label>
                      <select class="form-control" name="auteur" id="id_auteur" placeholder="Auteur">
                        {% for auteur in form.auteur.field.queryset %}
                        <option value="{{ auteur.pk }}">{{ auteur.username }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <label>Image</label>
                    <div class="input-group mb-3">
                        <input id="id_image" type="file" class="form-control" name="image" aria-label="image" >
                    </div>
                  <div class="form-group mb-0 mt-md-0 mt-4">
                    <label>Description</label>
                    <textarea name="description" id="id_description" class="form-control" rows="4" placeholder="Describe your problem in at least 250 characters"></textarea>
                  </div>
                  <div class="form-check form-switch mt-3">
                    <input id="id_payment_required" class="form-check-input" type="checkbox" name="payment_required" {% if image.payment_required %} checked {% endif %} >
                    <label>Image payante ?</label>
                  </div>
                  <div class="form-group mb-4 price" style="display: none;">
                      <label>Prix</label>
                      <input type="number" class="form-control" name="price" id="id_price" >
                  </div>
                  <div class="form-group mb-4">
                    <label>Licence</label>
                    <select class="form-control" name="licence" id="id_licence" placeholder="Licence">
                        {% for licence in form.licence.field.queryset %}
                        <option value="{{ licence.pk }}">{{ licence.name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <label>Tags</label>
                  <div class="input-group mb-3">
                    <input id="id_new_tags" name="new_tags" type="text" class="form-control tag-input" aria-label="tags" >
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">Envoyer</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'image_bank/assets/js/plugins/choices.min.js' %}"></script>
<script type="text/javascript">
      function initializePaymentButtons() {
        const paymentCheckbox = document.querySelector("#id_payment_required");
        const priceField = document.querySelector(".price");

        const auteur = document.querySelector('#id_auteur');
        if(!auteur.classList.contains('choice-initialized')) {
          new Choices(auteur);
          auteur.classList.add('choice-initialized');
        }

        const licence = document.querySelector('#id_licence');
        if(!licence.classList.contains('choice-initialized')) {
          new Choices(licence);
          licence.classList.add('choice-initialized');
        }

        paymentCheckbox.addEventListener('change', () => {
            if (paymentCheckbox.checked) {
                priceField.style.display = 'block';
            } else {
                priceField.style.display = 'none';
            }
        });
      }

      function reinitializePaymentButtons() {
          initializePaymentButtons();
      }

      initializePaymentButtons()
  

      function initializeTagInputs() {
          const choices = new Choices('#id_new_tags', {
          searchEnabled: false
          });
      }

      function reinitializeTagInputs() {
          initializeTagInputs();
      }

      function showToast(message, type) {
      Toastify({
          text: message,
          duration: 3000, // Set the duration for how long the toast message should appear (in milliseconds)
          gravity: 'top', // Set the position where the toast should appear
          position: 'center', // Set the position where the toast should appear
          close: true, // Allow users to close the toast manually
          backgroundColor: type === 'error' ? 'red' : 'green', // Customize the background color based on the message type
      }).showToast();
      }

      initializeTagInputs();
      
      document.addEventListener('htmx:afterSwap', function (event) {
        if(document.querySelector('#upload-images')) {
          reinitializeTagInputs();
          reinitializePaymentButtons();
        }
    });

    document.addEventListener('htmx:afterRequest', function (event) {
      if (event.detail.xhr.status === 200) { // Check if the request was successful (status code 200)
        // Assuming your response JSON contains a 'message' field
        const response = JSON.parse(event.detail.xhr.responseText);
        if (response.message) {
          showToast(response.message, 'success'); // Show a success toast message
        }
      } else if (event.detail.xhr.status === 400) { // If there was an error (status code 400)
        // Assuming your response JSON contains an 'error' field
        const response = JSON.parse(event.detail.xhr.responseText);
        if (response.message) {
          showToast(response.message, 'error'); // Show an error toast message
        }
      }
    });

</script>
{% endblock %}