{% extends "image_bank/main.html" %}
{% load static %}
{% load random_class %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'image_bank/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.17.9/tagify.css" integrity="sha512-yWu5jVw5P8+IsI7tK+Uuc7pFfQvWiBfFfVlT5r0KP6UogGtZEc4BxDIhNwUysMKbLjqCezf6D8l6lWNQI6MR7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 8px; /* Adjust the gap as needed */
      }

      .tags .badge {
          /* Add styling for the tags here */
          padding: 6px 12px;
          font-size: 14px;
          /* Add more styles as needed */
      }

      ul li {
          list-style: none;
      }

      /* CSS */
      .enlarge-image {
          width: 100%; /* Set the width of the container that holds the image */
          max-width: 100%; /* Ensure the image doesn't exceed its original size */
          height: auto; /* Allow the height to adjust proportionally */
          transform: scale(0.7); /* Increase the size by 20% (adjust the value as needed) */
          transform-origin: center; /* Scale from the center of the image */
      }

    </style>
    {% endblock %}

{% block content %}
<div id="content">
  <header>
      <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href=" https://demos.creative-tim.com/soft-ui-design-system-pro/presentation.html " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
              SEN NATAAL
          </a>
          <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard" class="btn btn-sm  bg-gradient-dark  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>
          <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
              </span>
          </button>
          <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
              <ul class="navbar-nav navbar-nav-hover mx-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a hx-get="{% url 'accueil-images' %}" hx-target="#content" hx-trigger="click" hx-push-url="true" role="button" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                  Accueil
                  </a>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a hx-get="{% url 'upload-contributeur' %}" hx-target="#content" hx-trigger="click" hx-push-url="true" role="button" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false">
                  Charger images
                  </a>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a hx-get="{% url 'images-contributeur' %}" hx-target="#content" hx-trigger="click" hx-push-url="true" role="button" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                  Mes images
                  </a>
              </li>
              </ul>
              <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">
                  <a href="https://demos.creative-tim.com/soft-ui-design-system-pro/presentation.html#pricing-soft-ui" class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1" onclick="smoothToPricing('pricing-soft-ui')">Buy Now</a>
              </li>
              </ul>
          </div>
          </div>
      </nav>
  </header>
  <main>
      {% block dynamic_content %}
        <section>
            <!-- <div class="container mt-7 mb-5 pt-7">
                <div class="card">
                <div class="row g-0">
                    <div class="col-md-7 border-end">
                        <div class="d-flex flex-column justify-content-center">
                            <div class="main_image">
                                <img src="{{ image.image.url }}" alt="main_product_image" width="350">
                            </div>
                            <div class="image_tags mt-3">
                                <ul class="tags">
                                    {% for tag in image.new_tags.all %}
                                        <li><span class="{% random_class %}">{{ tag.name }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="p-3 right-side">
                            <div class="d-flex justify-content-between align-items-center">
                            <h3>IIlana</h3>
                            <span class="heart"><i class='bx bx-heart'></i></span>
                            </div>
                            <div class="mt-2 pr-3 content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            </div>
                            <h3>$430.99</h3>
                            <div class="ratings d-flex flex-row align-items-center">
                                <div class="d-flex flex-row">
                                    <i class='bx bxs-star' ></i><i class='bx bxs-star' ></i>
                                    <i class='bx bxs-star' ></i>	<i class='bx bxs-star' ></i>
                                    <i class='bx bx-star' ></i>
                                </div>
                                <span>441 reviews</span>
                            </div>
                            <div class="mt-5">
                                <span class="fw-bold">Color</span>
                                <div class="colors">
                                    <ul id="marker">
                                        <li id="marker-1"></li>
                                        <li id="marker-2"></li>
                                        <li id="marker-3"></li>
                                        <li id="marker-4"></li>
                                        <li id="marker-5"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="buttons d-flex flex-row mt-5 gap-3">
                                <button class="btn btn-outline-dark">Buy Now</button>
                                <button class="btn btn-dark">Add to Basket</button>
                            </div>
                            <div class="search-option">	<i class='bx bx-search-alt-2 first-search'></i>
                                <div class="inputs">
                                    <input type="text" name="">
                                </div>
                                <i class='bx bx-share-alt share'></i>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div> -->
                <div class="container-fluid py-4 mt-7 pt-7">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                            <div class="card-body">
                            <h5 class="mb-4">Détails Image</h5>
                            <div class="row">
                            <div class="col-xl-5 col-lg-6 text-center">
                            <img class="w-100 border-radius-lg shadow-lg mx-auto" src="{{ image.image.url }}" alt="chair">
                            <div class="my-gallery d-flex mt-4 pt-2" itemscope itemtype="http://schema.org/ImageGallery">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-pink.jpg" itemprop="contentUrl" data-size="500x600">
                            <img class="w-75 min-height-100 max-height-100 border-radius-lg shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-pink.jpg" alt="Image description" />
                            </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/black-chair.jpg" itemprop="contentUrl" data-size="500x600">
                            <img class="w-75 min-height-100 max-height-100 border-radius-lg shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/black-chair.jpg" itemprop="thumbnail" alt="Image description" />
                            </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-steel.jpg" itemprop="contentUrl" data-size="500x600">
                            <img class="w-75 min-height-100 max-height-100 border-radius-lg shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-steel.jpg" itemprop="thumbnail" alt="Image description" />
                            </a>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-wood.jpg" itemprop="contentUrl" data-size="500x600">
                            <img class="w-75 min-height-100 max-height-100 border-radius-lg shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/chair-wood.jpg" itemprop="thumbnail" alt="Image description" />
                            </a>
                            </figure>
                            </div>
                            
                            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                            
                            <div class="pswp__bg"></div>
                            
                            <div class="pswp__scroll-wrap">
                            
                            
                            <div class="pswp__container">
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            </div>
                            
                            <div class="pswp__ui pswp__ui--hidden">
                            <div class="pswp__top-bar">
                            
                            <div class="pswp__counter"></div>
                            <button class="btn btn-white btn-sm pswp__button pswp__button--close">Close (Esc)</button>
                            <button class="btn btn-white btn-sm pswp__button pswp__button--fs">Fullscreen</button>
                            <button class="btn btn-white btn-sm pswp__button pswp__button--arrow--left">Prev
                            </button>
                            <button class="btn btn-white btn-sm pswp__button pswp__button--arrow--right">Next
                            </button>
                            
                            
                            <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                            </div>
                            <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="col-lg-5 mx-auto">
                            <h3 class="mt-lg-0 mt-4">{{ image.name | title }}</h3>
                            <div class="rating">
                                
                                {% for tag in image.new_tags.all %}
                                    <span class="{% random_class %}">{{ tag.name }}</span>
                                {% endfor %}
                                
                            </div>
                            <br>
                            {% if image.payment_required %}
                            <h6 class="mb-0 mt-3">Prix</h6>
                            <h5>{{ image.price }} CFA</h5>
                            <span class="badge badge-success">In Stock</span>
                            {% else %}
                            <h6 class="mb-0 mt-3">Prix</h6>
                            <span class="badge badge-success">Gratuite</span>
                            {% endif %}
                            <br>
                            <label class="mt-4">Description</label>
                            <!-- <ul>
                            <li>The most beautiful curves of this swivel stool adds an elegant touch to any environment</li>
                            <li>Memory swivel seat returns to original seat position</li>
                            <li>Comfortable integrated layered chair seat cushion design</li>
                            <li>Fully assembled! No assembly required</li>
                            </ul> -->
                            <textarea name="text" id="text" rows="4" class="form-control" disabled>
                                {{ image.description }}
                            </textarea>
                            <div class="row mt-4">
                            <div class="col-lg-5 mt-lg-0 mt-2">
                            <label>Frame Material</label>
                            <select class="form-control" name="choices-material" id="choices-material">
                            <option value="Choice 1" selected>Wood</option>
                            <option value="Choice 2">Steel</option>
                            <option value="Choice 3">Aluminium</option>
                            <option value="Choice 4">Carbon</option>
                            </select>
                            </div>
                            <div class="col-lg-5 mt-lg-0 mt-2">
                            <label>Color</label>
                            <select class="form-control" name="choices-colors" id="choices-colors">
                            <option value="Choice 1" selected>White</option>
                            <option value="Choice 2">Gray</option>
                            <option value="Choice 3">Black</option>
                            <option value="Choice 4">Blue</option>
                            <option value="Choice 5">Red</option>
                            <option value="Choice 6">Pink</option>
                            </select>
                            </div>
                            <div class="col-lg-2">
                            <label>Quantity</label>
                            <select class="form-control" name="choices-quantity" id="choices-quantity">
                            <option value="Choice 1" selected>1</option>
                            <option value="Choice 2">2</option>
                            <option value="Choice 3">3</option>
                            <option value="Choice 4">4</option>
                            <option value="Choice 5">5</option>
                            <option value="Choice 6">6</option>
                            <option value="Choice 7">7</option>
                            <option value="Choice 8">8</option>
                            <option value="Choice 9">9</option>
                            <option value="Choice 10">10</option>
                            </select>
                            </div>
                            </div>
                            <div class="row mt-4">
                            <div class="col-lg-5">
                            <button class="btn bg-gradient-primary mb-0 mt-lg-auto w-100" type="button" name="button">Add to cart</button>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
      {% endblock %}
      <script src="{% static 'image_bank/assets/js/plugins/choices.min.js' %}"></script>
      <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', () => {

          function showToast(message, type) {
            Toastify({
              text: message,
              duration: 3000, // Set the duration for how long the toast message should appear (in milliseconds)
              gravity: 'top', // Set the position where the toast should appear
              position: 'center', // Set the position where the toast should appear
              close: true, // Allow users to close the toast manually
              backgroundColor: type === 'error' ? 'red' : 'green', // Customize the background color based on the message type
            }).showToast();
          }

          htmx.on('htmx:afterRequest', function (event) {
            event.preventDefault();
            if (event.detail.xhr.status === 200) { // Check if the request was successful (status code 200)
              // Assuming your response JSON contains a 'message' field
              const response = JSON.parse(event.detail.xhr.responseText);
              if (response.message) {
                showToast(response.message, 'success'); // Show a success toast message
              }
            } else if (event.detail.xhr.status === 400) { // If there was an error (status code 400)
              // Assuming your response JSON contains an 'error' field
              const response = JSON.parse(event.detail.xhr.responseText);
              if (response.message) {
                showToast(response.message, 'error'); // Show an error toast message
              }
            }
          });
        })

      </script>
  </main>
</div>
{% endblock %}