{% extends "image_bank/index.html" %}
{% load static %}
{% load watermark %}
{% load random_class %}

{% block dynamic_content %}
    <div id="content">
      <section>
        <div class="container-fluid py-4 mt-5 pt-5">
            <div class="row">
              <div class="col-12">
                <a><i class="fa fa-arrow-left fa-2x" aria-hidden="true" style="margin-left: 15px;"></i></a>
              </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <div class="card-body">
                    <div class="row">
                    <div class="col-xl-5 col-lg-6 text-center">
                      <img class="w-100 border-radius-lg shadow-lg mx-auto" {% if image.payment_required %} src="{{ image.image.url | watermark:"django_test,opacity=10,tile=1,rotation=45" }}" {% else %} src="{{ image.image.url }}" {% endif %} alt="{{ image.description }}">
                      <div class="my-gallery d-flex mt-4 pt-2" itemscope itemtype="http://schema.org/ImageGallery">
                        <div id="download">

                        </div>
                      </div>
                    
                    </div>
                    <div class="col-lg-5 mx-auto">
                    <h3 class="mt-lg-0 mt-4">{{ image.name | title }}</h3>
                    <div class="tags">
                        {% for tag in image.new_tags.all %}
                          <span class="{% random_class %}">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    {% if image.payment_required %}
                    <div class="row">
                      <div class="col-lg-6">
                        <h6 class="mb-0 mt-3">Prix</h6>
                        <h5>{{ image.price }} CFA</h5>
                      </div>
                      <div class="col-lg-6">
                        <h6 class="mb-0 mt-3">Format</h6>
                        {% if image.format %}
                        <span class="badge badge-secondary">{{ image.format }}</span>
                        {% else %}
                        <span class="badge badge-secondary">Non renseigné</span>
                        {% endif %}
                      </div>
                    </div>
                    {% else %}
                    <div class="row">
                      <div class="col-lg-6">
                        <h6 class="mb-0 mt-3">Prix</h6>
                        <span class="badge badge-success">Gratuit</span>
                      </div>
                      <div class="col-lg-6">
                        <h6 class="mb-0 mt-3">Format</h6>
                        {% if image.format %}
                        <span class="badge badge-secondary">{{ image.format }}</span>
                        {% else %}
                        <span class="badge badge-secondary">Non renseigné</span>
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                    <br>
                    <label class="mt-4">Description</label>
                    <p>
                        {{ image.description }}
                    </p>
                    <div class="row mt-4">
                    <div class="col-lg-6 mt-lg-0 mt-2">
                    <label>Resolution</label>
                    {% if image.width and image.height %}
                    <p>{{ image.width }} x {{ image.height }}</p>
                    {% else %}
                    <p>Non renseigné</p>
                    {% endif %}
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-2">
                    <label>Orientation</label>
                    {% if image.width and image.height %}
                      {% if image.width > image.height %}
                      <p>Paysage</p>
                      {% else %}
                      <p>Portrait</p>
                      {% endif %}
                    {% else %}
                      <p>Non renseigné</p>
                    {% endif %}
                    </div>
                    </div>
                    <div class="row mt-4">
                    <div class="col-lg-5">
                      {% if image.contributeur.id == request.user.id %}
                      <div class="dropdown">
                        <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-download" aria-hidden="true"></i> Télécharger
                        </button>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton">
                          <form hx-post="{% url 'image-download' image.id  %}" hx-trigger="submit" hx-target="#download" hx-swap="outerHTML">
                            {% csrf_token %}
                            <li>
                              <p>Choisissez la résolution:</p>
                              <div>
                                <input class="form-check-input" type="radio" id="original" name="image_resolution" value="original">
                                <label for="original">Originale</label>
                              </div>
                              <div>
                                <input class="form-check-input" type="radio" id="low" name="image_resolution" value="low">
                                <label for="low">Faible</label>
                              </div>
                              <div>
                                <input class="form-check-input" type="radio" id="medium" name="image_resolution" value="medium">
                                <label for="medium">Moyenne</label>
                              </div>
                              <div>
                                <input class="form-check-input" type="radio" id="high" name="image_resolution" value="high">
                                <label for="high">Elevée</label>
                              </div>
                            </li>
                            <li>
                              <p>Choisissez le format:</p>
                              <div>
                                <input class="form-check-input" type="radio" id="jpg" name="image_format" value="jpg">
                                <label for="jpg">JPEG</label>
                              </div>
                              <div>
                                <input class="form-check-input" type="radio" id="png" name="image_format" value="png">
                                <label for="png">PNG</label>
                              </div>
                            </li>
                            <li>
                              <input type="submit" class="btn bg-gradient-primary" value="Télécharger">
                            </li>
                          </form>
                        </ul>
                      </div>
                      {% else %}
                        <a href="#" class="btn bg-gradient-primary mb-0 mt-lg-auto w-100"><i class="fa fa-money" aria-hidden="true"></i> Acheter</a>
                      {% endif %}
                    </div>
                    <div class="col-lg-5">
                      <a {% if image.payment_required %} href="{{ image.image.url | watermark:"django_test,opacity=10,tile=1,rotation=45" }}" {% else %} href="{{ image.image.url }}" {% endif %} target="_blank" class="btn bg-gradient-dark mb-0 mt-lg-auto w-100" type="button"><i class="fa fa-eye" aria-hidden="true"></i> Voir</a>
                    </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-lg-6">
                        <p><label>Licence</label></p>
                        <button type="button" class="btn bg-gradient-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" {% if image.licence %} data-bs-content="{{ image.licence }}" {% else %} data-bs-content="Pas de licence renseignée" {% endif %}>
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                      </div>
                      <div class="col-lg-6">
                        <label>Auteur</label>
                        {% if image.auteur %} <p>{{ image.auteur }}</p> {% else %} <p>Auteur inconnu</p> {% endif %}
                      </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

    document.querySelector('.fa-arrow-left').addEventListener('click', (e) => {
        window.history.back();
    })

</script>
{% endblock %}
