{% extends "image_bank/main.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'image_bank/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.17.9/tagify.css" integrity="sha512-yWu5jVw5P8+IsI7tK+Uuc7pFfQvWiBfFfVlT5r0KP6UogGtZEc4BxDIhNwUysMKbLjqCezf6D8l6lWNQI6MR7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
<div id="content">
  <header>
      <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href=" https://demos.creative-tim.com/soft-ui-design-system-pro/presentation.html " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
              SEN NATAAL
          </a>
          <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard" class="btn btn-sm  bg-gradient-dark  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>
          <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
              </span>
          </button>
          <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
              <ul class="navbar-nav navbar-nav-hover mx-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a role="button" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                  Accueil
                  </a>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a hx-get="{% url 'upload-contributeur' %}" hx-target="#content" hx-trigger="click" hx-push-url="true" role="button" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false">
                  Charger images
                  </a>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a hx-get="{% url 'images-contributeur' %}" hx-target="#content" hx-trigger="click" hx-push-url="true" role="button" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                  Mes images
                  </a>
              </li>
              </ul>
              <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">
                  <a href="https://demos.creative-tim.com/soft-ui-design-system-pro/presentation.html#pricing-soft-ui" class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1" onclick="smoothToPricing('pricing-soft-ui')">Buy Now</a>
              </li>
              </ul>
          </div>
          </div>
      </nav>
  </header>
  <main>
      {% block dynamic_content %}
      <section class="pt-5 mt-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <caption>Table d'images chargées par le contributeur</caption>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Aperçu</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Auteur</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Format</th>
                          <th class="text-secondary opacity-7"></th>
                          <th class="text-secondary opacity-7"></th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for image in images %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <img src="{{ image.image.url }}" alt="{{ image.description }}" class="avatar avatar-sm me-3">
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-xs font-weight-bold mb-0">{{ image.auteur }}</p>
                          </td>
                          <td class="text-xs font-weight-bold mb-0">
                            <span {% if image.payment_required %} class="badge badge-sm badge-success" {% else %} class="badge badge-sm badge-secondary" {% endif %}>{% if image.payment_required %} Payant {% else %} Gratuit {% endif %}</span>
                          </td>
                          <td>
                              <p class="text-xs font-weight-bold mb-0">{{ image.format }}</p>
                            </td>
                          <td class="align-middle">
                              <a href="#" class="btn btn-link text-dark px-3 mb-0" data-bs-toggle="modal" data-bs-target="#editModalForm{{ image.id }}">
                                  <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>
                              </a>
                          </td>
                          <td class="align-middle">
                              <a href="#" class="btn btn-link text-danger text-gradient px-3 mb-0" data-bs-toggle="modal" data-bs-target="#deleteModalForm{{ image.id }}">
                                <i class="far fa-trash-alt me-2"></i>
                              </a>
                          </td>
                          <!-- Edition modal -->
                            <div class="modal fade edit-modal" id="editModalForm{{ image.id }}" tabindex="-1" aria-labelledby="editModalForm" aria-hidden="true">
                              <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                <div class="modal-content">
                                  <div class="modal-body p-0">
                                    <div class="card bg-gray-200 shadow border-0 mb-0">
                                      <div class="card-header text-start">
                                        <h3 class="font-weight-bolder text-info text-gradient mb-1">Modification</h3>
                                        <p class="mb-0">Veuillez modifier les informations souhaitées</p>
                                      </div>
                                      <div class="card-body">
                                        <form role="form text-start" hx-post="{% url 'edit-image' image.id %}" hx-trigger="submit" hx-swap="none">
                                          {% csrf_token %}
                                          <label>Nom</label>
                                          <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="id_name" name="name" value="{{ image.name }}" aria-label="nom" >
                                          </div>
                                          <label>Auteur</label>
                                          <select class="form-control" name="auteur" id="id_auteur" placeholder="Auteur">
                                              {% for auteur in form.auteur.field.queryset %}
                                              <option value="{{ auteur.pk }}">{{ auteur.username }}</option>
                                              {% endfor %}
                                          </select>
                                          <label>Image</label>
                                          <div class="input-group mb-3">
                                            <input type="file" class="form-control" id="id_image" name="image" value="{{ image.image }}" aria-label="image" >
                                          </div>
                                          <div class="form-check form-switch">
                                            <input id="id_payment_required" class="form-check-input" type="checkbox" name="payment_required" {% if image.payment_required %} checked {% endif %} >
                                            <label>Image payante ?</label>
                                          </div>
                                          <div class="form-group mb-4 price" {% if not image.payment_required %} style="display: none;" {% else %} style="display: block;" {% endif %}>
                                              <label>Prix</label>
                                              <input type="number" class="form-control" name="price" id="id_price" value="{{ image.price }}" >
                                          </div>
                                          <div class="form-group mb-4">
                                            <label>Description</label>
                                            <textarea name="description" class="form-control" id="id_description" rows="4" >{{ image.description }}</textarea>
                                          </div>
                                          <div class="form-group mb-4">
                                              <label>Licence</label>
                                              <select class="form-control" name="licence" id="id_licence" placeholder="Licence">
                                                  {% for licence in form.licence.field.queryset %}
                                                  <option value="{{ licence.pk }}">{{ licence.name }}</option>
                                                  {% endfor %}
                                              </select>
                                          </div>
                                          <label>Tags</label>
                                          <div class="input-group mb-3">
                                            <input id="id_new_tags" name="new_tags" type="text" class="form-control tag-input" value="{% for tag in image.new_tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}" aria-label="tags" >
                                          </div>
                                          <div class="text-center">
                                            <input type="submit" class="btn bg-gradient-info mt-4 mb-0" value="Modifier">
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal" hx-get="{% url 'images-contributeur' %}" hx-target="#content">Fermer</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Deletion modal -->
                            <div class="modal fade" id="deleteModalForm{{ image.id }}" tabindex="-1" aria-labelledby="deleteModalForm" aria-hidden="true">
                              <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                <div class="modal-content bg-gradient-danger">
                                  <div class="modal-header border-0">
                                    <h6 class="modal-title text-white" id="modal-title-notification">Veuillez lire attentivement</h6>
                                    <button type="button" class="btn btn-link text-white my-1" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                                  </div>
                                  <hr class="horizontal light mt-0">
                                  <div class="modal-body">
                                    <div class="py-3 text-center text-white">
                                      <i class="ni ni-bell-55 ni-3x"></i>
                                      <h4 class="heading mt-4 text-white">Etes vous sûr de votre action ?</h4>
                                      <p class="text-white opacity-8">Lorsque vous validerez, la suppression de cette image sera définitive</p>
                                    </div>
                                  </div>
                                  <hr class="horizontal light">
                                  <div class="modal-footer justify-content-between border-0">
                                    <button type="button" class="btn btn-white my-1" hx-get="{% url 'delete-image' image.id %}" hx-trigger="click" hx-swap="none">Je confirme</button>
                                    <button type="button" class="btn btn-link text-white my-1" data-bs-dismiss="modal" hx-get="{% url 'images-contributeur' %}" hx-target="#content">Fermer</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </tr>
                        
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination">
                      <span class="step-links">
                          {% if images.has_previous %}
                              <a href="?page=1">&laquo; premier</a>
                              <a href="?page={{ images.previous_page_number }}">précédent</a>
                          {% endif %}
                  
                          <span class="current">
                              Page {{ images.number }} sur {{ images.paginator.num_pages }}.
                          </span>
                  
                          {% if images.has_next %}
                              <a href="?page={{ images.next_page_number }}">suivant</a>
                              <a href="?page={{ images.paginator.num_pages }}">dernier &raquo;</a>
                          {% endif %}
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endblock %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.17.9/tagify.min.js" integrity="sha512-E6nwMgRlXtH01Lbn4sgPAn+WoV2UoEBlpgg9Ghs/YYOmxNpnOAS49+14JMxIKxKSH3DqsAUi13vo/y1wo9S/1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{% static 'image_bank/assets/js/plugins/choices.min.js' %}"></script>
      <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', () => {
          function togglePriceField(modalId) {
              const paymentCheckbox = document.querySelector(`#${modalId} #id_payment_required`);
              const priceField = document.querySelector(`#${modalId} .price`);

              paymentCheckbox.addEventListener('change', () => {
                  if (paymentCheckbox.checked) {
                      priceField.style.display = 'block';
                  } else {
                      priceField.style.display = 'none';
                  }
              });
          }

          // Call the function for each modal
          const modals = document.querySelectorAll('.edit-modal');
          modals.forEach(modal => {
                const choices = new Choices(modal.querySelector('#id_new_tags'), {
                searchEnabled: false
              });
              togglePriceField(modal.getAttribute('id'));
          })

          function showToast(message, type) {
            Toastify({
              text: message,
              duration: 3000, // Set the duration for how long the toast message should appear (in milliseconds)
              gravity: 'top', // Set the position where the toast should appear
              position: 'center', // Set the position where the toast should appear
              close: true, // Allow users to close the toast manually
              backgroundColor: type === 'error' ? 'red' : 'green', // Customize the background color based on the message type
            }).showToast();
          }

          htmx.on('htmx:afterRequest', function (event) {
            event.preventDefault();
            document.querySelectorAll('.edit-modal').forEach(modal => {
              const choices = new Choices(modal.querySelector('#id_new_tags'), {
                searchEnabled: false
              });
              togglePriceField(modal.getAttribute('id'));
            })
            if (event.detail.xhr.status === 200) { // Check if the request was successful (status code 200)
              // Assuming your response JSON contains a 'message' field
              const response = JSON.parse(event.detail.xhr.responseText);
              if (response.message) {
                showToast(response.message, 'success'); // Show a success toast message
              }
            } else if (event.detail.xhr.status === 400) { // If there was an error (status code 400)
              // Assuming your response JSON contains an 'error' field
              const response = JSON.parse(event.detail.xhr.responseText);
              if (response.message) {
                showToast(response.message, 'error'); // Show an error toast message
              }
            }
          });
        })
          // const formTags = document.querySelector('#id_new_tags');
          // const tagElements = document.querySelectorAll('.tag-input');
          // tagElements.forEach(tagElement => {
          //     const tagify = new Tagify(tagElement);
          //     tagify.on('add', (e) => {
          //       if(formTags.value !== '' || formTags.value === null){
          //         console.log('valeur', e.detail.data.value);
          //         console.log('tags', formTags.value);
          //         formTags.value += ', ' + e.detail.data.value;
          //       } else {
          //         console.log('valeur', e.detail.data.value);
          //         console.log('tags', formTags.value);
          //         formTags.value += e.detail.data.value;
          //       }
          //     })
          // });

      </script>
  </main>
</div>
{% endblock %}