{% extends "image_bank/main.html" %}
{% load static %}
{% load cool_paginate %}

{% block extra_head %}
<style>
  aside {
    background-image: url("{% static 'image_bank/assets/img/dusty-blue.jpg' %}")
  }
</style>
{% endblock %}

{% block content %}
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fa fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="#">
      <img src="{% static 'image_bank/assets/img/logo.png' %}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold">SEN NATAAL</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Menu</h6>
      </li>
      <li class="nav-item">
        <a class="nav-link" hx-get="{% url 'upload-contributeur' %}" hx-trigger="click" hx-push-url="true" hx-target="#content">
          <span class="nav-link-text ms-1">Charger images</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" hx-get="{% url 'images-contributeur' %}" hx-trigger="click" hx-push-url="true" hx-target="#content">
          <span class="nav-link-text ms-1">Mes images</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" hx-get="{% url 'profil' %}" hx-trigger="click" hx-push-url="true" hx-target="#content">
          <span class="nav-link-text ms-1">Profil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sign-out' %}">
          <span class="nav-link-text ms-1">Déconnexion <i class="fa fa-power-off" aria-hidden="true"></i></span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
  <nav class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2">
    <div class="container-fluid py-1">
      <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-xl-none ps-3 pe-0 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-dark"></i>
                  <i class="sidenav-toggler-line bg-dark"></i>
                  <i class="sidenav-toggler-line bg-dark"></i>
                </div>
              </a>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row justify-content-center mt-5 pt-5">
      <div class="col-lg-10">
        <div class="card">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <caption>Table d'images chargées par le contributeur</caption>
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Aperçu</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Auteur</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Format</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
              {% for image in images %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{{ image.image.url }}" alt="{{ image.description }}" class="avatar avatar-sm me-3">
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ image.auteur }}</p>
                  </td>
                  <td class="text-xs font-weight-bold mb-0">
                    <span {% if image.payment_required %} class="badge badge-sm badge-secondary" {% else %} class="badge badge-sm badge-success" {% endif %}>{% if image.payment_required %} Payant {% else %} Gratuit {% endif %}</span>
                  </td>
                  <td>
                      <p class="text-xs font-weight-bold mb-0">{{ image.format }}</p>
                  </td>
                  <td>
                    <span {% if image.status == 'V' %} class="badge badge-sm badge-success" {% else %} class="badge badge-sm badge-warning" {% endif %}>{% if image.status == 'V' %} Validée {% else %} En attente {% endif %} </span>
                  </td>
                  <td class="align-middle">
                      <a href="#" class="btn btn-link text-dark px-3 mb-0" data-bs-toggle="modal" data-bs-target="#editModalForm{{ image.id }}">
                          <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Modifier
                      </a>
                  </td>
                  <td class="align-middle">
                      <a href="#" class="btn btn-link text-danger text-gradient px-3 mb-0" data-bs-toggle="modal" data-bs-target="#deleteModalForm{{ image.id }}">
                        <i class="far fa-trash-alt me-2"></i>Supprimer
                      </a>
                  </td>
                  <!-- Edition modal -->
                    <div class="modal fade edit-modal" id="editModalForm{{ image.id }}" tabindex="-1" aria-labelledby="editModalForm" aria-hidden="true">
                      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                        <div class="modal-content">
                          <div class="modal-body p-0">
                            <div class="card bg-gray-200 shadow border-0 mb-0">
                              <div class="card-header text-start">
                                <h3 class="font-weight-bolder text-info text-gradient mb-1">Modification</h3>
                                <p class="mb-0">Veuillez modifier les informations souhaitées</p>
                              </div>
                              <div class="card-body">
                                <form id="edit-form" role="form text-start" enctype="multipart/form-data" autocomplete="off">
                                  {% csrf_token %}
                                  <label>Nom</label>
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="id_name" name="name" value="{{ image.name }}" aria-label="nom" >
                                  </div>
                                  <label>Auteur</label>
                                  <select class="form-control" name="auteur" id="id_auteur" placeholder="Auteur">
                                      {% for auteur in form.auteur.field.queryset %}
                                      <option value="{{ auteur.pk }}" {% if auteur.pk == request.user.pk %} selected {% endif %}>{{ auteur.username }}</option>
                                      {% endfor %}
                                  </select>
                                  <input type="hidden" name="id" value="{{ image.id }}" id="id_id">
                                  <label>Image</label>
                                  <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="id_image" name="image" value="{{ image.image }}" aria-label="image" >
                                  </div>
                                  <div class="form-check form-switch">
                                    <input id="id_payment_required" class="form-check-input" type="checkbox" name="payment_required" {% if image.payment_required %} checked {% endif %} >
                                    <label>Image payante ?</label>
                                  </div>
                                  <div class="form-group mb-4 price" {% if not image.payment_required %} style="display: none;" {% else %} style="display: block;" {% endif %}>
                                      <label>Prix</label>
                                      <input type="number" class="form-control" name="price" id="id_price" value="{{ image.price }}" >
                                  </div>
                                  <div class="form-group mb-4">
                                    <label>Description</label>
                                    <textarea name="description" class="form-control" id="id_description" rows="4" >{{ image.description }}</textarea>
                                  </div>
                                  <div class="form-group mb-4">
                                      <label>Licence</label>
                                      <select class="form-control" name="licence" id="id_licence" placeholder="Licence">
                                          {% for licence in form.licence.field.queryset %}
                                          <option value="{{ licence.id }}" {% if licence.name == image.licence %} selected {% endif %}>{{ licence.name }}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                                  <div class="input-group mb-3">
                                    <label>Tags</label>
                                    <input id="id_new_tags" name="new_tags" type="text" class="form-control tag-input" value="{% for tag in image.new_tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}" aria-label="tags" >
                                  </div>
                                  <div class="text-center">
                                    <input type="submit" class="btn bg-gradient-info mt-4 mb-0" value="Modifier">
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal" hx-get="{% url 'images-contributeur' %}" hx-target="#content">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Deletion modal -->
                    <div class="modal fade delete-modal" id="deleteModalForm{{ image.id }}" tabindex="-1" aria-labelledby="deleteModalForm" aria-hidden="true">
                      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                        <div class="modal-content bg-gradient-danger">
                          <div class="modal-header border-0">
                            <h6 class="modal-title text-white" id="modal-title-notification">Veuillez lire attentivement</h6>
                            <button type="button" class="btn btn-link text-white my-1" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                          </div>
                          <hr class="horizontal light mt-0">
                          <div class="modal-body">
                            <div class="py-3 text-center text-white">
                              <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
                              <h4 class="heading mt-4 text-white">Etes vous sûr de votre action ?</h4>
                              <p class="text-white opacity-8">Lorsque vous validerez, la suppression de cette image sera définitive</p>
                            </div>
                          </div>
                          <hr class="horizontal light">
                          <div class="modal-footer justify-content-between border-0">
                            <button type="button" class="btn btn-white my-1" hx-get="{% url 'delete-image' image.id %}" hx-trigger="click" hx-swap="none">Je confirme</button>
                            <button type="button" class="btn btn-link text-white my-1" data-bs-dismiss="modal" hx-get="{% url 'images-contributeur' %}" hx-target="#content">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </tr>
                
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% if images %}
    <div class="row">
      <div class="pagination mt-4 justify-content-center">
        {% cool_paginate page_obj=images %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'image_bank/assets/js/plugins/choices.min.js' %}"></script>
<script type="text/javascript" src="{% static 'image_bank/js/contributor/images_script.js' %}"></script>
{% endblock %}